.course-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  /* padding: 10px; */
  /* width: 300px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* Ensures height adapts to content */
  overflow: hidden; /* Prevents content from breaking layout */
  transition: transform 0.3s ease;
  word-wrap: break-word; /* Ensures long words break to fit */
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-cover-pic {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-content {
  margin: 20px ;
  flex-grow: 1; /* Expands to use available space */
  display: flex;
  flex-direction: column;
}

.course-title {
  /* font-size: 20px; */
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.ps {
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
  line-height: 1.5; /* Increases readability */
}

.course-price {
  color: #27ae60;
  font-size: 18px;
  font-weight: bold;
}

.course-enroll-button {
  background-color: #3498db;
  color: white;
  padding: 10px 0;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.course-enroll-button:hover {
  background-color: #2980b9;
}
