.countdown-timer {
    color: #333;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }
  .countdown-p{
    font-size: 1rem;
    /* color: #555; */
    margin: 10px;
  }
  
 
  