.countdown-timer {
    color: #333;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }
  .countdown-p{
    font-size: 1.4rem;
    /* color: #555; */
    margin: 15px;
  }
  
  /* Responsive styling for tablet */
  @media (max-width: 768px) {
    .countdown-p{
      font-size: 15px;
    }
  }
  
  /* Responsive styling for mobile */
  @media (max-width: 480px) {
    .countdown-p{
      font-size: 15px;
      margin: 5px;
    }
   
  }
  